build
deploy
target
data
.apt_src
.gradle/
.temp/
temp/
release
*.launch
testResults
.metadata
mdwlibs
exportedAssets
/logs.txt
/bin/
/out/
.DS_Store
mdw-boot-*.jar
**/.idea/workspace.xml
**/.idea/tasks.xml
mdw.log
