<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/dashboard-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Held Orders</div>
        <!-- TODO: wrap attribute varies according to buttons included -->
        <mdw-actions wrap="1170px">
          <!-- TODO: Actions is only when something selected (also, gravity not used) -->
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button 
            uib-popover-template="'ordersFilter.html'"> 
            <span class="glyphicon glyphicon-filter"></span> Filter
          </button>        
          <button type="button" class="btn btn-primary mdw-btn" ng-click="downloadExcel()">
            <span class="glyphicon glyphicon-download-alt"></span> Export
          </button>        
          <button type="button" class="btn btn-primary mdw-btn" ng-click="goList()">
            <span class="glyphicon glyphicon-menu-hamburger"></span> List
          </button>        
        </mdw-actions>
      </div>
      <div class="mdw-section">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-options="chartOptions"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" chart-hover="onHover">
        </canvas>
      </div>
      <div ng-bind-html="chartLegend | markdown | unsafe">
      </div>
    </div>
  </div>
</div>